		
 <div id="pagewrap" > 
 
 
 			<header id="header"> 
 
	
					<nav>
							<ul id="main-nav" >
									<!-- dos opciones
								<li><a onclick="MostrarInicio()" class="btn"                >Inicio</a> </li>
								<li><a onclick="MostrarGrilla()" class="btn"                >Mostrar Productos	 </a> </li>
								<li><a onclick="MostarLogin()"   class="btn"id="BotonLogin" >Login</a> </li>
								<li><a onclick="EliminarCookie()"   class="btn"id="BotonLogin" >Cookie</a> </li>

										<!-- dos opciones

											<li><a ng-click="irLogin()"  class="btn"id="BotonLogin" >Login Angular</a> </li>
											<li><a href="Htmls\formAlta.html"   class="btn"id="BotonLogin" >Alta Angular</a> </li>
	

										-->


								<li><a style="color:red" ng-click="irLogin()"  class="btn"id="BotonLogin" >Login Usuario Registrado</a> </li>
								<li><a style="color:red" ng-click="irAlta()"   class="btn"id="BotonLogin" >Alta  De Persona</a> </li>
								<li><a style="color:red" ng-click="irJuegos()"   class="btn"id="BotonLogin" >Juegos</a> </li>	
								<li><a style="color:red"ng-click="irGrilla()"   class="btn"id="BotonLogin" >Listado</a> </li>	
								<li><a style="color:red" ng-click="irPerfil()"   class="btn"id="BotonLogin" >Perfil</a> </li>	
								<li><a style="color:red" ng-click="irVotar()"   class="btn"id="BotonLogin" >Votar</a> </li>	
								<li><a style="color:red"ng-click="irVotacionGrilla()"   class="btn"id="BotonLogin" >Personas que votaron</a> </li>
	
   
									<!-- dos opciones-->								
								<div id="perfil">  </div>

							</ul>
							<!-- /#main-nav --> 
				</nav>
</header>
</div>
<!-- /#pagewrap -->


<div ui-view name="contenido"></div>

<!--

-->