<!--

<body ng-app="ModuloAngular" ng-controller="controlAlta">

-->
      <center>

    <div class="contenedor">
     


<div class="container">
        
      <form class="form-Alta animated slideLeft"  name="frmregistro" enctype="multipart/form-data">

<!--
            DIRTY ES CUANDO SE MODIFICA EL CAMPO
            TOUCH PARA CUANDO CLIKEO
            ng-pattern ="/^[a-zA-Z\s]*$/"  SOLO LETRAS.
 -->
        <h2 id="titulo" style="color:violet">Registro</h2><br>
        <span ng-show="frmregistro.$error.required">Requerde que todos los campos son obligatorios</span>
        <br>      <br>
 
<h1 style='color: blue'> Bienvenido {{usuario.nombre}}</h1>
 <br><br>


        <input type="text" class="form-control" id="nombre" name="nombre" ng-pattern ="/^[a-zA-Z\s]*$/" ng-model="usuario.nombre" placeholder="Ingrese su nombre" minlength=4  required>
       <span style="color:red" ng-show="frmregistro.nombre.$dirty && frmregistro.nombre.$invalid">Nombre INVALIDO Solo minimo 4 letras.</span>
      </span><br>

      

        <input type="text" class="form-control" id="apellido" name="apellido" ng-pattern ="/^[a-zA-Z\s]*$/" ng-model="usuario.apellido" placeholder="Ingrese su apellido" required="true">
        <span style="color:red" ng-show="frmregistro.apellido.$dirty && frmregistro.apellido.$invalid">Apellido INVALIDO.</span>
      </span><br>

        <input type="number" class="form-control"id="edad" name="edad" ng-model="usuario.edad" min="18" max="99" placeholder="Ingrese su edad" required="true">
        <span style="color:red" ng-show="frmregistro.edad.$dirty && frmregistro.edad.$invalid">Edad INVALIDA.</span>
      </span><br>




        Sexo: 
        <input type="radio"  name="sexo" id="m" ng-model="usuario.sexo" value="m" required> M
        <input type="radio" name="sexo" id="f" ng-model="usuario.sexo" value="f" required>  F
         <span style="color:red" ng-show="frmregistro.sexo.$invalid"> Seleccione una opcion.</span>
          </span><br>

        

        <br>
        <input type="number" class="form-control" id="dni" name="dni" ng-model="usuario.dni" placeholder="Ingrese su dni" required>
        <span style="color:red" ng-show="frmregistro.dni.$dirty && frmregistro.dni.$invalid">DNI INVALIDO.</span>
      </span><br>

        <input type="email" class="form-control" id="email" name="email" ng-model="usuario.email" placeholder="Ingrese su email" required>             
        <span style="color:red" ng-show="frmregistro.email.$error.email">Email INVALIDO.</span>
        </span><br>






        <!--
        
        <span ng-show="frmregistro.email.$error.required">El Email es obligatorio</span>
        <span style="color:red" ng-show="frmregistro.email.$dirty && frmregistro.email.$invalid">
        
        <span ng-show="frmregistro.email.$error.email">Email INVALIDO.</span>
        </span>

  -->




        <span style="color:red" ng-show="frmregistro.estado.$invalid"> Seleccione una opcion.</span>
         </span>
        <select class="form-control" name ="estado" ng-model="usuario.estado" required>

          <option></option>
          <option value="estado1">Soltero</option>
          <option value="estado2">Casado</option>
          <option value="estado2">Virgen</option>
          </select>
      <br>



        
        <input type="date" class="form-control" id="fechaNac" name="fechaNac" ng-model="usuario.fechaNac" placeholder="Fecha Nac. yyyy-mm-dd" max="1998-01-02" min="1977-01-01" required>

        <span style="color:red" ng-show="frmregistro.fechaNac.$dirty && frmregistro.fechaNac.$invalid">Fecha INVALIDA.</span>
      </span><br>

        <input type="password" class="form-control" id="password"  name="password" ng-model="usuario.password" placeholder="Ingrese su clave" value=""  required>
      


        <input type="password" class="form-control" id="password2" ng-model="usuario.password2" placeholder="Repita su clave" value=""  required>

        <br>

        
        <span style="color:red" ng-show="usuario.password!=usuario.password2"> Las contraseNIas no coinciden.</span>

             
        <br>
    


        
        <input type="checkbox" ng-model="usuario.lenguaje"  unchecked > ¿Especialidad Alguna?:  
        <br></br>        
        
        <input type="checkbox"    ng-if="usuario.lenguaje"  ng-model="usuario.lenguajeCobol" name="c" value="cobol" unchecked > Cobol 
        <br></br>
        <input type="checkbox" ng-if="usuario.lenguaje" ng-model="usuario.lenguajePascal" name="pascal" value="python" > Pascal
        <br></br>
        <input type="checkbox" ng-if="usuario.lenguaje" ng-model="usuario.lenguajeJava" name="java" value="java" > Java
        <br></br>
        <input type="checkbox" ng-model="usuario.lenguajeNada"  name="nada" value="nada" ng-checked="usuario.lenguaje" > Ninguna
       
        <br></br>



         <input type="reset"  class="btn btn-warning" > <br> <br/>

        <button  class="btn btn-lg btn-success btn-block" name="login" id="login" ng-disabled="frmregistro.$invalid || usuario.password!=usuario.password2 || !usuario.lenguaje  " ng-click="Alta()"><span>Alta </span></button><br/>

        <a id="barraLogin" ng-click="Volver()"  class="btn btn-danger" >Cancelar </a>


<br></br>
            <span ng-show="frmregistro.$error.required">Todos los campos son obligatorios</span>
         
      </form>
 </div>
</center>

<!--
<span ng-show="frmregistro.nombre.$touched && frmregistro.usuario.nombre.$invalid">The name is required.</span>

<span ng-show="frmregistro.$valid">valido----</span>   <span ng-show="frmregistro.$invalid">--------ivalido</span>

 <h3 style="color:red" >Estado:{{frmregistro.$valid}}</h3>

 -->

 <!-- checkbox


 !usuario.lenguajePascal || !usuario.lenguajeCobol || !usuario.lenguajeJava
<input type="checkbox" ng-model="ver" />
        <span>{{ver}}</span>
        <input type="text" name="apellido" ng-if="ver" ng-model="mascota.nombrea" placeholder="ingrese apellido" value="" required/>
        <span id="lblApellido" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*
        </span>
        <input type="text" name="nombre" ng-show="ver" ng-model="persona.nombre" placeholder="ingrese nombre" value="" /> 

        <span id="lblNombre" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span>
        <input type="email" name="correo" ng-model="persona.correo" placeholder="ingrese correo" value="" required/>
        <span id="lblDni" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span>
        <p style='color: black;'>*El DNI no se puede modificar.</p> ": "" ; ?>
        
        <input type="password" name="pass" ng-model="persona.password"  value="" />
        <input type="password" name="pass2" ng-model="persona.password2"  value="" />

        <input type="hidden" name="idOculto" id="id" value="" />



 -->