		
 <div id="pagewrap" > 
 
 
 			<header id="header"> 
 
	
					<nav>
							<ul id="main-nav" >
								
								<li><a ng-click="irAEN()"  class="btn btn-sm btn-success btn-block"id="BotonLogin" >Adivina el Numero</a> </li>
								<li><a ng-click="irPPT()"  class="btn btn-sm btn-primary btn-block"id="BotonLogin" >Piedra - Papel - Tijera</a> </li>

								
								<li><a  id=""  ng-click="Volver()"   class="btn btn-xs btn-success btn-danger" >Salir de los Juegos </a> </li>	
	
       								
								
							<!-- 
								btn-succes verde 
									primary azul
									info   celeste
									warning naranja
									danger   rojo



							--> 					




					
							</ul>
							<!-- /#main-nav --> 
				</nav>
</header>
</div>
<!-- /#pagewrap -->




<div ui-view name="contenido"></div>

<!--

-->